.place__title {
  margin: 0%;
  width: 460px;
  min-height: 152px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 76px;
  color: #FFFFFF;
  padding-bottom: 48px;
}

@media screen and (max-width: 1024px) {
  .place__title {
    margin: 0%;
    width: 440px;
    min-height: 76px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 76px;
    color: #FFFFFF;
    align-content: flex-end;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    display: flex;
    margin: 0%;
    width: 340px;
    min-height: 46px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    color: #FFFFFF;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin: auto;
    width: 288px;
    min-height: 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 46px;
    color: #FFFFFF;
    align-content: flex-end;
  }
}
