.page {
  font-family: "Inter", Arial, sans-serif;
  min-width: 320px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background: #2A2C2F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
  .page {
    width: 100%;
    max-width: 1024px;
    flex-direction: column;
    margin: 0 auto;
    padding-right: 0px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  .page {
    width: 100%;
    max-width: 768px;
    flex-direction: column;
    margin: 0% auto;
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 100%;
    max-width: 320px;
    margin: 0% auto;
    flex-direction: column;
  }
}

