.page {
  font-family: 'Inter', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  background: #2A2C2F;
}

@media screen and (max-width: 1024px) {
  .page {
    width: 1024px;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .page {
    width: 768px;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
    flex-direction: column;
  }
}

