.page {
  font-family: "Inter", Arial, sans-serif;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background: #2A2C2F;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 100%;
    overflow: overlay;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .page {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 100%;
  }
}