.photo-grid {
  padding-top: 92px;
  width: 92.5%;
  padding: 0%;
  margin-left: 3.75%;
  margin-right: 3.75%;
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 90.625%;
    padding-top: 92px;
    display: grid;
    margin-left: 4.6875%;
    margin-right: 4.6875%;
    grid-template-columns: 32.3275862% 32.3275862% 32.3275862%;
    grid-auto-flow: row;
    gap: 14px;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 93.75%;
    padding: 0%;
    padding-top: 64px;
    margin: auto;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 48.9% 48.9%;
    grid-auto-flow: row;
    gap: 14px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    margin-top: 64px;
    padding: 0%;
    display: grid;
    grid-template-columns: max-content;
    grid-auto-flow: row;
    row-gap: 12px;
  }
}

