.places {
  max-width: 76.875%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.625%;
    margin: 0 4.6875% 0 4.6875%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 93.75%;
    margin: 0 3.125% 0 3.125%;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .places {
    max-width: 100%;
    margin-top: 64px;
    margin-bottom: 66px;
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
    margin-top: 64px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 66px;
  }
}
