.intro__list {
  font-family: Inter;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 18px;
  margin: 0%;
  align-items: left;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .intro__list {
    font-size: 0.75rem;
    line-height: 18px;
    width: 690px;
    margin: 0%;
    padding: 0%;
  }
}

@media screen and (max-width: 768px) {
  .intro__list {
    font-size: 0.75rem;
    line-height: 18px;
    width: 720px;
    margin: 0%;
    padding: 0%;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    font-size: 0.75rem;
    line-height: 18px;
    width: 288px;
    margin: 0%;
    padding: 0%;
  }
}

