.lead {
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 56px;
  margin-left: 11.5625%;
  margin-right: 11.5625%;
  max-width: 76.875%;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 90.625%;
    padding: 0%;
    margin: 48px 4.6875% 0% 4.6875%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    margin: 0%;
    padding-top: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .lead {
    max-width: 100%;
    margin: 0%;
    padding-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 100%;
    margin: 0%;
    padding-top: 48px;
  }
}