@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 928px;
    padding-top: 92px;
    display: grid;
    grid-template-rows:  225px 225px;
    grid-template-columns: 300px 300px 300px;
    grid-auto-flow: row;
    gap: 14px;
  }
}