.cover__subtitle {
  font-family: Inter;
  width: 30.41%;
  align-self: center;
  margin: 0%;
  padding-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}