.header__logo {
  justify-content: left;
  min-height: 52px;
  width: 14.86%;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    justify-content: left;
    height: auto;
    width: 176px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    justify-content: left;
    height: auto;
    max-width: 24.4%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    justify-content: left;
    height: auto;
    max-width: 49.31%;
  }
}

