@media screen and (max-width: 1024px) {
  .place__title {
    margin: 0%;
    width: 440px;
    min-height: 76px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 76px;
    color: #FFFFFF;
    align-content: flex-end;
    padding-bottom: 48px;
  }
}