.header {
  display: flex;
  justify-content: space-between;
  width: 92.5%;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-top: 28px;
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    max-width: 90.625%;
    margin: 28px 4.6875% 0% 4.6875%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    max-width: 93.75%;
    margin: 28px 3.125% 0% 3.125%;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .header {
    justify-content: space-between;
    width: 90%;
    padding: 0%;
    margin: 16px 5% 0 5%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    justify-content: space-between;
    width: 90%;
    padding: 0%;
    margin: 16px 5% 0 5%;
  }
}