.header {
  display: flex;
  height: 52px;
  width: 1184px;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-top: 28px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 928px;
    height: 52px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 28px;
    margin: 0%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 720px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 28px;
    margin: 0%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 288px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    margin: 0%;
  }
}

