.header {
  display: flex;
  justify-content: space-between;
  width: 1184px;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-top: 28px;
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    max-width: 90.625%;
    margin: 28px 4.6875% 0% 4.6875%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    max-width: 93.75%;
    margin: 28px 3.125% 0% 3.125%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    justify-content: space-between;
    width: 288px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    margin: 0%;
  }
}

