@media screen and (max-width: 768px) {
  .cover__overlay {
    background-image: url(../../../images/__background768.svg);
    background-repeat: no-repeat;
    width: 768px;
    height: 480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
  }
  
  .cover__overlay:hover {
    opacity: 0.3;
  }
}