.intro__container {
  max-width: 100%;
  justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .intro__container {
    width: 100%;
    margin: 0%;
  }
}

@media screen and (max-width: 768px) {
  .intro__container {
    width: 100%;
    margin: 0%;
  }
}

@media screen and (max-width: 320px) {
  .intro__container {
    max-width: 100%;
    margin: 0%;
  }
}



