.footer__links {
  display: grid;
  width: 100%;
  max-width: 465px;
  grid-template-rows: 18px;
  grid-template-columns: 10.753% 12.258% 20.215% 18.495% 22.796%;
  gap: 3.871%;
}

@media screen and (max-width: 1024px) {
  .footer__links {
    display: grid;
    width: 100%;
    max-width: 465px;
    grid-template-rows: 18px;
    grid-template-columns: 10.753% 12.258% 20.215% 18.495% 22.796%;
    gap: 3.871%;
  }
}

@media screen and (max-width: 768px) {
  .footer__links {
    display: grid;
    width: 100%;
    max-width: 465px;
    grid-template-rows: 18px;
    grid-template-columns: 10.753% 12.258% 20.215% 18.495% 22.796%;
    gap: 3.871%;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }
}

