.place__paragraph {
  margin: 0%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 163%;
  color: #FFFFFF;
}

.place__paragraph:first-child {
  padding-bottom: 26px;
}

.place__paragraph:only-child {
  padding: 0%;
}