.footer__copyright {
  width: 186px;
  margin: 0%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 16px;
  padding: 0%;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    max-width: 20.043%;
    margin: 0%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    max-width: 25.83%;
    margin: 0%;
    padding: 0%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 16px;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    max-width: 100%;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 14px;
    color: #FFFFFF;
    padding: 0%;
    padding-top: 48px;
    margin: 0%;
  }
}

