.footer__copyright {
  max-width: 15.71%;
  margin: 0%;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 16px;
  padding: 0%;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    max-width: 20.043%;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    max-width: 25.83%;
  }
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 520px) {
  .footer__copyright {
    font-size: 0.45rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .footer__copyright {
    max-width: 100%;
    padding-top: 48px;
    text-align: left;
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    max-width: 100%;
    padding-top: 48px;
    text-align: left;
    font-size: 0.875rem;
  }
}