.lead__image {
  background-repeat: no-repeat;
  width: 984px;
  height: 615px;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    background-repeat: no-repeat;
    height: 580px;
    max-width: 90.625%;
    margin-left: 4.6875%;
    margin-right: 4.6875%;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 480px;
    max-width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    width: 320px;
    height: 200px;
    margin: auto;
    align-self: center;
  }
}

