.intro__text {
  width: 53.9%;
  min-height: 208px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 163%;
  margin: 0%;
  padding-top: 40px;
  color: #FFFFFF;
  padding-bottom: 33px;
}
