.intro {
  width: 690px;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 148px;
  margin: 0%;

}

@media screen and (max-width: 1024px) {
  .intro {
    width: 67.3828%;
    flex-direction: column;
    padding-left: 48px;
    padding-top: 92px;
    margin: 92px 27.9297% 0% 4.6875%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
    flex-direction: column;
    padding: 0%;
    margin: 88px 3.125% 0% 3.125%;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 90%;
    flex-direction: column;
    padding: 0%;
    margin: 64px 5% 0% 5%;
  }
}

