.intro {
  width: 690px;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 148px;
  margin: 0%;

}

@media screen and (max-width: 1024px) {
  .intro {
    width: 67.3828%;
    flex-direction: column;
    padding-left: 48px;
    padding-top: 92px;
    margin: 92px 27.9297% 0% 4.6875%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 720px;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 88px;
    margin: 0%;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: 288px;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 64px;
    margin: 0%;
  }
}

