@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
    height: 340px;
    padding-right: 28px;
    margin: 0%;
    background-size: cover;
    background-position: center;
  }
}