@media screen and (max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 928px;
    height: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0%;
    padding-bottom: 24px;
  }
}