.lead__subtitle {
  width: 65%;
  margin: 0%;
  display: flex;
  align-self: center;
  justify-content: center;
  line-height: 36px;
  font-size: 1.875rem;
  font-weight: normal;
  z-index: 1;
  padding: 0;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    font-size: 1.875rem;
    line-height: 36px;
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    padding: 0%;
    margin: 32px 18.75% 56px 18.75%;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 83.3%;
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    margin: 0% 8.3% 56px 8.3%;
    padding: 0%;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .lead__subtitle {
    font-size: 1rem;
    line-height: 20px;
    width: 90%;
    margin: 0% 5% 40px 5%;
    padding: 0%;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 1rem;
    line-height: 20px;
    width: 90%;
    margin: 0% 5% 40px 5%;
    padding: 0%;
  }
}