.cover {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(min-content, max-content);
  max-width: 1184px;
  margin: auto;
  align-self: center;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .cover{
    display: grid;
    max-width: 100%;
    height: auto;
    grid-template-columns: minmax(min-content, max-content);
    padding-top: 0%;
    padding-bottom: 92px;
    margin: 0%;
  }
}

@media screen and (max-width: 768px) {
  .cover{
    width: 768px;
    padding-top: 90px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover{
    width: 320px;
    padding-top: 66px;
    padding-bottom: 64px;
  }
}

