.cover {
  background-image: url(../../images/__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 92.5%;
  height: 740px;
  margin: auto;
  padding: 0%;
}


@media screen and (max-width: 1024px) {
  .cover{
    max-width: 100%;
    height: 640px;
    margin: 0%;
  }
}

@media screen and (max-width: 768px) {
  .cover{
    height: 480px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .cover{
    height: 200px;
  }
}