.cover {
  max-width: 92.5%;
  margin: 92px 3.75% 0% 3.75%;
  align-self: center;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .cover{
    display: grid;
    max-width: 100%;
    height: auto;
    grid-template-columns: minmax(min-content, max-content);
    padding-top: 0%;
    padding-bottom: 92px;
    margin: 0%;
  }
}

@media screen and (max-width: 768px) {
  .cover{
    width: 100%;
    margin: 0%;
    padding-top: 90px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover{
    max-width: 100%;
    margin: 0%;
    padding: 0%;
  }
}

