@media screen and (max-width: 320px) {
  .cover__overlay {
    background-image: url(../../../images/__background320.svg);
    background-repeat: no-repeat;
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
  }

  .cover__overlay:hover {
    opacity: 0.3;
  }
}