.place__link {
  position: relative;
  margin: 0%;
  padding-top: 12px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .place__link {
    width: 100%;
    position: relative;
    margin: 0%;
    padding-top: 12px;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  .place__link:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 768px) {
  .place__link {
    width: 352px;
    position: relative;
    margin: 0%;
    padding-top: 12px;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  .place__link:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 320px) {
  .place__link {
    display: none;
  }
}

