@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    height: 440px;
    padding-right: 32px;
    margin: 0%;
    background-size: cover;
    background-position: center;
  }
}