.cover__overlay {
  background-image: url(../../../images/__background1280.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}

.cover__overlay:hover {
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    background-image: url(../../../images/__background1024.png);
    background-repeat: no-repeat;
    width: 1024px;
    height: 640px;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
  }
  
  .cover__overlay:hover {
    opacity: 0.3;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    background-image: url(../../../images/__background768.png);
    background-repeat: no-repeat;
    width: 768px;
    height: 480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
  }
  
  .cover__overlay:hover {
    opacity: 0.3;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    background-image: url(../../../images/__background320.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
  }

  .cover__overlay:hover {
    opacity: 0.3;
  }
}

