@media screen and (max-width: 320px) {
  .place__image {
    width: 320px;
    height: 320px;
    padding-right: 28px;
    padding: 0%;
    margin: 0%;
    background-size: cover;
    align-self: center;
  }
}