@media screen and (max-width: 768px) {
  .place__title {
    margin: 0%;
    width: 340px;
    max-height: 92px;
    min-height: 46px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 2.625rem;
    line-height: 46px;
    color: #FFFFFF;
    align-content: flex-end;
    padding-bottom: 48px;
  }
}