@media screen and (max-width: 1024px) {
  .cover__overlay {
    background-image: url(../../../images/__background1024.svg);
    background-repeat: no-repeat;
    width: 1024px;
    height: 640px;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
  }
  
  .cover__overlay:hover {
    opacity: 0.3;
  }
}