.lead__caption {
  max-width: 158px;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 14px;
  margin: 0%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  padding-top: 8px;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-left: 4.6875%;
    padding: 0%;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 8px 0% 0% 2.083%;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .lead__caption {
    margin-left: 5%;
  }
}