@media screen and (max-width: 320px) {
  .photo-grid {
    width: 288px;
    padding-top: 64px;
    display: grid;
    grid-template-rows: 216px;
    grid-template-columns: 288px;
    grid-auto-flow: row;
  }
}