.cover__title {
  width: 560px;
  font-family: "Inter";
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 76px;
  align-self: center;
  justify-content: center;
  margin: 0;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    font-size: 4.5rem;
    line-height: 76px;
    width: 54.6875%;
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    padding-top: 195px;
    padding-bottom: 32px;
    padding-left: 22.65625%;
    padding-right: 22.65625%;
    margin: 0%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 4.5rem;
    line-height: 76px;
    width: 560px;
    padding-top: 115px;
    margin: 0%;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 2rem;
    line-height: 35px;
    width: 288px;
    padding-top: 33px;
    margin: 0%;
  }
}

