.place {
  display: grid;
  grid-template-columns: fit-content(46.7479675%) fit-content(49.1869919%);
  row-gap: 48px;
  column-gap: 4.065%;
  max-width: 100%;
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: fit-content(47.4137931%) fit-content(49.137931%);
    grid-auto-flow: row;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: fit-content(47.2%) fit-content(48.9%);
    column-gap: 28px;
    padding: 0%;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .place {
    grid-template-columns: 100%;
    gap: 32px;
    padding: 0%;
    margin-bottom: 49px;
  }

  .place:last-child {
    margin-bottom: 0%;
  }
}

@media screen and (max-width: 320px) {
  .place {
    flex-direction: column;
    grid-template-columns: 100%;
    gap: 32px;
    padding: 0%;
    margin-bottom: 49px;
  }

  .place:last-child {
    margin-bottom: 0%;
  }
}