.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92.5%;
  margin: auto;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 90.625%;
    padding: 0%;
    margin: 0% 4.6875% 24px 4.6875%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 93.75%;
    margin: auto;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .footer {
    flex-direction: column;
    max-width: 58.125%;
    padding: 0%;
    margin: 64px 36.875% 24px 5%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    max-width: 58.125%;
    padding: 0%;
    margin: 64px 36.875% 24px 5%;
  }
}