.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92.5%;
  margin: auto;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90.625%;
    padding: 0%;
    margin: 0% 4.6875% 24px 4.6875%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 93.75%;
    margin: 0% 3.125% 24px 3.125%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    width: 186px;
    padding: 0%;
    margin: 0%;
  }
}

