.header__lang-links {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 77px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .header__lang-links{
    max-width: 62px;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-links{
    max-width: 62px;
  }
}