.intro__title {
  width: 53.9%;
  margin: 0%;
  padding-top: 114px;
  align-self: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 58px;
  color: #FFFFFF;
}